@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@@ViewBag.Message</h3>-->

<address>
    800 E Summit St<br />
    Kent, OH 44240<br />
    <abbr title="Phone">Phone:</abbr>
    111.222.3333
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>